@model IEnumerable<PartyPlannerWebApplication.Models.tblCustomer>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CustFName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustLName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustHouseAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustStreet)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustTown)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustPhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustCapacity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustPassword)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CustFName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustLName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustHouseAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustStreet)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustTown)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustPhone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustCapacity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustPassword)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
