@model PartyPlanner.Models.Entertainer

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-md-12">
            <div class="form-horizontal">
                <h4>Entertainer</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Street, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Street, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Street, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Town, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Town, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Town, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.City, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!--_______________________________________________________________________________________________________________________________-->

    <div class="row">
        <div class="col-md-12">

            <div class="form-horizontal">

                <h4>Tick the Services you Provide:</h4>
                <hr />

                <div class="form-group">
                    @Html.LabelFor(model => model.IsMagician, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-1">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.IsMagician)
                            @Html.ValidationMessageFor(model => model.IsMagician, "", new { @class = "text-danger" })
                        </div>
                    </div>


                    @Html.LabelFor(model => model.IsClown, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-1">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.IsClown)
                            @Html.ValidationMessageFor(model => model.IsClown, "", new { @class = "text-danger" })
                        </div>
                    </div>


                    @Html.LabelFor(model => model.IsBalloonAnimals, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-1">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.IsBalloonAnimals)
                            @Html.ValidationMessageFor(model => model.IsBalloonAnimals, "", new { @class = "text-danger" })
                        </div>
                    </div>


                    @Html.LabelFor(model => model.IsPettingZoo, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-1">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.IsPettingZoo)
                            @Html.ValidationMessageFor(model => model.IsPettingZoo, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="form-horizontal">

                <div class="form-group">
                    @Html.LabelFor(model => model.IsCakes, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-1">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.IsCakes)
                            @Html.ValidationMessageFor(model => model.IsCakes, "", new { @class = "text-danger" })
                        </div>
                    </div>



                    @Html.LabelFor(model => model.IsCatering, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-1">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.IsCatering)
                            @Html.ValidationMessageFor(model => model.IsCatering, "", new { @class = "text-danger" })
                        </div>
                    </div>



                    @Html.LabelFor(model => model.IsFacePainting, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-1">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.IsFacePainting)
                            @Html.ValidationMessageFor(model => model.IsFacePainting, "", new { @class = "text-danger" })
                        </div>
                    </div>



                    @Html.LabelFor(model => model.IsJuggling, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-1">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.IsJuggling)
                            @Html.ValidationMessageFor(model => model.IsJuggling, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">

            <div class="form-horizontal">
                <div class="form-group">
                    @Html.LabelFor(model => model.IsDJ, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-1">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.IsDJ)
                            @Html.ValidationMessageFor(model => model.IsDJ, "", new { @class = "text-danger" })
                        </div>
                    </div>


                    @Html.LabelFor(model => model.IsPartyGames, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-1">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.IsPartyGames)
                            @Html.ValidationMessageFor(model => model.IsPartyGames, "", new { @class = "text-danger" })
                        </div>
                    </div>



                    @Html.LabelFor(model => model.IsBouncyCastle, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-1">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.IsBouncyCastle)
                            @Html.ValidationMessageFor(model => model.IsBouncyCastle, "", new { @class = "text-danger" })
                        </div>
                    </div>



                    @Html.LabelFor(model => model.IsPuppets, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-1">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.IsPuppets)
                            @Html.ValidationMessageFor(model => model.IsPuppets, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="form-horizontal">

                <div class="form-group">
                    @Html.LabelFor(model => model.IsHennaTattoos, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-1">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.IsHennaTattoos)
                            @Html.ValidationMessageFor(model => model.IsHennaTattoos, "", new { @class = "text-danger" })
                        </div>
                    </div>



                    @Html.LabelFor(model => model.IsHairBraiding, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-1">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.IsHairBraiding)
                            @Html.ValidationMessageFor(model => model.IsHairBraiding, "", new { @class = "text-danger" })
                        </div>
                    </div>


                    @Html.LabelFor(model => model.IsOther, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-1">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.IsOther)
                            @Html.ValidationMessageFor(model => model.IsOther, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>

}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
